In [1]:
pip install apyori

Requirement already satisfied: apyori in c:\users\windows\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
from apyori import apriori

In [3]:


data_store = pd.read_excel('https://github.com/ekayuniar/datamining/raw/master/UAS/dataset%20soal%20no.2.xls')
data_store.tail()

    Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
96      Wine    Chips    Bread   Butter      NaN    Apple
97      Wine    Chips    Bread      NaN      NaN      NaN
98      Wine    Chips    Bread   Butter      NaN    Apple
99      Wine    Chips    Bread      NaN      NaN      NaN
100     Wine    Chips    Bread   Butter      NaN    Apple

In [4]:
data_store.shape

(101, 6)

In [5]:
records = []
for i in range(0, 51):
    records.append([str(data_store.values[i,j]) for j in range(0,6)])

In [6]:
association_rules = apriori(records, min_support=0.2, min_confidence=0.2, min_lift=0.2, main_lenght=2)
association_results = list(association_rules)

In [7]:
print(len(association_results))

104

In [8]:
print(len(association_results[0]))

3

In [9]:
print(association_results[0])

RelationRecord(items=frozenset({'Apple'}), support=0.8431372549019608, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Apple'}), confidence=0.8431372549019608, lift=1.0)])

In [10]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle the case where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle the case where items has only one element
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0,value1,value2,value3,value4)

    results.append(rows)

label = ['title1', 'title2','support','confidence','lift']

store_suggestion = pd.DataFrame(results, columns=label)

print(store_suggestion)

     title1 title2 support confidence lift
0     Apple         0.8431     0.8431  1.0
1     Bread         0.7843     0.7843  1.0
2    Butter         0.7647     0.7647  1.0
3     Chips         0.7058     0.7058  1.0
4      Milk         0.8823     0.8823  1.0
..      ...    ...     ...        ...  ...
99   Butter   Milk  0.2352     0.2352  1.0
100  Butter   Milk  0.2156     0.2156  1.0
101  Butter   Milk  0.2745     0.2745  1.0
102  Butter   Milk  0.2549     0.2549  1.0
103  Butter   Milk  0.2352     0.2352  1.0

[104 rows x 5 columns]

In [11]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle cases where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle cases where items has less than two elements
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0,value1,value2,value3,value4)

    results.append(rows)

label = ['title1', 'title2','support','confidence','lift']  # Moved label outside the loop

store_suggestion = pd.DataFrame(results, columns=label)  # Moved DataFrame creation outside the loop

print(store_suggestion)

     title1 title2 support confidence lift
0     Apple         0.8431     0.8431  1.0
1     Bread         0.7843     0.7843  1.0
2    Butter         0.7647     0.7647  1.0
3     Chips         0.7058     0.7058  1.0
4      Milk         0.8823     0.8823  1.0
..      ...    ...     ...        ...  ...
99   Butter   Milk  0.2352     0.2352  1.0
100  Butter   Milk  0.2156     0.2156  1.0
101  Butter   Milk  0.2745     0.2745  1.0
102  Butter   Milk  0.2549     0.2549  1.0
103  Butter   Milk  0.2352     0.2352  1.0

[104 rows x 5 columns]

In [12]:
results = []
for item in association_results:
    pair = item[0]
    items = [x for x in pair]

    value0 = str(items[0]) if items else ""  # Handle cases where items is empty
    value1 = str(items[1]) if len(items) > 1 else ""  # Handle cases where items has less than two elements
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

    rows = (value0, value1, value2, value3, value4)
    results.append(rows)

label = ['title1', 'title2', 'support', 'confidence', 'lift']

store_suggestion = pd.DataFrame(results, columns=label)

print(store_suggestion)

     title1 title2 support confidence lift
0     Apple         0.8431     0.8431  1.0
1     Bread         0.7843     0.7843  1.0
2    Butter         0.7647     0.7647  1.0
3     Chips         0.7058     0.7058  1.0
4      Milk         0.8823     0.8823  1.0
..      ...    ...     ...        ...  ...
99   Butter   Milk  0.2352     0.2352  1.0
100  Butter   Milk  0.2156     0.2156  1.0
101  Butter   Milk  0.2745     0.2745  1.0
102  Butter   Milk  0.2549     0.2549  1.0
103  Butter   Milk  0.2352     0.2352  1.0

[104 rows x 5 columns]

In [13]:
store_suggestion.describe()

        title1 title2 support confidence lift
count      104    104     104        104  104
unique       7      7      30         30    1
top     Butter   Milk  0.4705     0.4705  1.0
freq        50     24       8          8  104

In [14]:
store_suggestion.to_excel('data_output_ahas.xlsx')